// App Card

.card{

    background-color: white;
    padding: 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    height: 100%;
    margin-bottom: 30px;

    &__grid{
        gap: $gutterWidth;
    }

    &__container{
        padding: 0;
    }

    &__header{
        padding: 15px 24px;
        border-bottom: 1px solid #e7e9ed;
    }

    &Section{

        &__title{
            font-size: var(--wp--preset--font-size--large);
            font-weight: 700;
            margin-bottom: 0;
        }

        &__content{

            &_grid{
                display: grid;
                grid-template-columns: repeat( 4 , 1fr );
            }

            &_flex{

                display: flex;
                gap: 10px;

                .cardSection__contentItem{

                    &:not(:last-child){
                        &:after{
                            content: ',';
                            margin-left: 2px;
                        }
                    }

                }

            }

            a{
                :hover{
                    text-decoration: underline;
                }
            }

            &Title{
                font-size: var(--wp--preset--font-size--medium);
            }

            &Item{

                margin-bottom: var(--wp--preset--spacing--x-small);

                &_small{
                    font-size: var(--wp--preset--font-size--small);
                }

            }

        }

        a{
            text-decoration: none;
        }

    }

    &__icon{

        &Container{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $lightGreen;
        }

    }

    &__title{
        margin: 0;
        line-height: 50px;
        font-size: var(--wp--preset--font-size--x-large);
        color: $darkGrey;
        margin-bottom: 0;
    }

    &__button{
        padding: 10px 20px;
        border-radius: 6px;
        border: 1px solid $grey;
        background-color: transparent;
        cursor: pointer;
    }

    &__body{
        padding: 15px 24px;
        border-bottom: 1px solid #e7e9ed;
    }

    &__footer{
        padding: 15px 24px;
    }

}