.header{

    // background-color: white;
    // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    // margin-bottom: $gutterWidth;
    // padding: $gutterWidth 0;

    .app-utilities{
        display: flex;
        align-items: center;
    }

    .dropdown-toggle{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--wp--preset--color--mighty-blue);
        color: white;
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 700;
    }

    .app-branding{

        height: auto;

        .logo-icon{
            height: 120px;
            width: 120px;
        }

    }


}