.single-post,
.sidebar .single-slidebar{
    background-color: white!important;
    border-radius: 4px!important;
}

.single-post{
    display: grid!important;
    gap: 30px;
    grid-template-columns: 100px auto;
}

.sidebar .single-slidebar .cat-list li{

    background-color: #f5f6fe;

    &:hover{
        a{
            color: white!important;
        }
    }
}
.single-post .address{
    display: flex;
    align-items: center;
    gap: 6px;
}

.addListing{

    display: grid!important;
    gap: 30px;
    grid-template-columns: 100px auto;

    input, textarea{
        font-size: 1rem!important;
    }
}

.post-list .single-post .btns{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    
    li{

        padding: 0;
        display: block;

        &:hover{
            background-color: $mightyBlue;
            a{
                color: white!important;
            }
        }

        a{
            padding: 10px 15px;
            display: block;
        }
    }

}


.single-post .tags{

    display: flex;
    flex-wrap: wrap;
    gap: 15px!important;

    li{
        margin-bottom: 0!important;
    }
}

.single-post .thumb img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

textarea{
    resize: none!important;
}

.common-input, .common-textarea{
    margin-bottom: 20px;
}