.listing{

    .mlCard__contentHeader{
        border-bottom: $grey 2px dashed;
    }

    .listing__title{
        margin-bottom: 10px;
    }

    .mlCard__contentFooter{
        border-bottom: $grey 2px solid;
    }

}

.listingsItem{

    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 55px auto;
    text-decoration: none;
    transition: all 0.3s ease;

    &::after{
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        right: 20px;
        top: calc(50% - 6px);
        background-size: contain;
        background-image: url('../img/open.svg');
        opacity: 0.5;
        transition: all 0.3s ease;
    }

    &:hover{
        &:after{
            opacity: 1;
        }
    }

    .mlCard__content{
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
    }

    &__status{

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &_success{

            background: $gradientSuccess;
            
            &:after{
                content: '';
                background-image: url('../img/check.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
            }

        
        }

        &_error{
            background: $gradientDanger;
            
            &:after{
                content: '';
                background-image: url('../img/close.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
            }
        }

        &_warning{
            background: $gradientWarning;
            
            &:after{
                content: '';
                background-image: url('../img/warning.svg');
                transform: rotate(180deg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
            }
        }

    }

    &__title{
        color: $darkGrey;
        font-size: 0.9325rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__stats{
        display: flex;
        gap: 15px;
        font-size: 0.875rem;
    }

    &__people, &__addresses{

        display: flex;
        align-items: center;
        font-size: 13px;

        &::before{
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            margin-right: 5px;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    &__people{
        &::before{
            background-image: url('../img/people.svg');
        }
    }

    &__addresses{
        &::before{
            background-image: url('../img/addresses.svg');
        }
    }

    &__date{
        font-size: 0.75rem;
        color: $darkGrey;
        opacity: 0.75;
    }

}