.post-list .single-post,
.sidebar .single-slidebar{
    background-color: white!important;
    border-radius: 4px!important;
}

.post-list .single-post{
    display: grid!important;
    gap: 30px;
    grid-template-columns: 100px auto;
}

.sidebar .single-slidebar .cat-list li{

    background-color: #f5f6fe;

    &:hover{
        a{
            color: white!important;
        }
    }
}

.post-list .single-post .address{
    display: flex;
    align-items: center;
    gap: 6px;
}

.single-post .tags{

    display: flex;
    flex-wrap: wrap;
    gap: 15px!important;

    li{
        margin-bottom: 0!important;
    }
}

.single-post .thumb img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

textarea{
    resize: none!important;
}

.common-input, .common-textarea{
    margin-bottom: 20px;
}