.ml{

    *{
        box-sizing: border-box;
    }

    background-color: $lightGrey;
    font-family: 'Roboto', sans-serif;

    &_noHeader{
        padding-top: 0;
    }


    #wpadminbar a{
        color: #f0f0f1!important;
    }

}

a,
.text-success,
.text-link,
.register,
.lostpassword{
    color: $mightyBlue!important;
}

.batchSkip__buttons{

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}