.mlCard{

    border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.09);
	position: relative;
	overflow: hidden;
    padding: 0;
	margin-bottom: 40px;
    background-color: white;

    &:before{
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: var(--wp--preset--gradient--info);
        background: linear-gradient( to bottom , #014CB1 , #3477D3 );
        left: 0;
        top: 0;
    }

    &_noprefix{

        &:before{
            display: none;
        }

        .mlCard__content{
            padding: 15px;
        }
    }

    &_withPrefix{

        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 100%;
        padding: 0px;
        gap: 0;

        &:before{
            display: none;
        }

    }

    &__prefix{
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &_success{
            background: $gradientSuccess;
        }
    
        &_info{
            background: $gradientInfo;
        }
    
        &_warning{
            background: $gradientWarning
        }
    
        &_danger{
            background: $gradientDanger;
        }

        span{
            display: block;
            transform: rotate(-90deg);
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
            
        }

    }

    &__content{

        padding: 20px 30px;

        &Body{
            padding-bottom: 10px;
        }

        &Footer{
            padding-top: 10px;
            border-top: 1px solid $grey;
        }

    }

    &__links{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__link{

        display: block;
        text-decoration: none;

        &_big{

            padding: 10px 12px;
            border-radius: 8px;
            transition: all 0.3s ease;
            grid-template-columns: 20px auto;
            column-gap: 10px;
            align-items: center;

            &:hover{
                box-shadow: 0 0 15px rgba(0,0,0,0.1);
            }

        }

        &_small{

            padding: 5px;

            &:hover{
                text-decoration: underline;
            }

        }

        &_icon{
            display: grid;
        }
    }

    &__title{
        font-weight: 600;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    &__stat{

        display: flex;
        align-items: flex-end;
        gap: 10px;
        margin-bottom: 10px;

        &Number{
            font-weight: 600;
            font-size: 1.125rem;
            text-transform: uppercase;
        }

        &Description{
            font-size: 1rem;
            padding-bottom: 1px;
        }

    }

}