.signinForm{

    width: 100%;
    padding: 0 $gutterWidth;
    max-width: calc(450px + 2 * $gutterWidth);
    margin: 0 auto;

    .login-remember{
        display: none!important;
    }

    &__submit{
        padding: 0;
        margin: 20px auto 0!important;
    }

    &__extra{
        font-size: 0.875rem;
        flex-direction: row;
        justify-content: center;
    }

}

.pms-form{

    .mlForm__label{
        display: flex;
        align-items: center;
        input{
            width: 15px;
        }
    }

    .pms-subscription-plan{
        margin-bottom: 0;
    }

}