.colGr{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: calc( 2 * $gutterWidth );

    &__col{

        grid-column-start: auto;

        @for $i from 1 through 12{

            &_#{$i}{
                grid-column-end: span #{$i};
            }
        }

        &_rightAlign{
            display: flex;
            justify-content: flex-end;
        }

    }

}

.container{

    width: 100%;
    max-width: calc( $containerWidth + 2 * $gutterWidth ) ;
    padding-left: $gutterWidth;
    padding-right: $gutterWidth;
    margin-left: auto;
    margin-right: auto;

    &_wide{
        max-width: 1700px;
    }

    &_fullwidth{
        max-width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
    }

    .colGr{
        display: block;
    }
}