.ml{

    font-family: "Mulish", sans-serif;
    font-weight: 300;

    h1, h2, h3, h4, h5, h6{
        font-family: "Poppins", sans-serif;
    }
}

h2{
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 15px;
}

body{
    line-height: 1.5!important;
}