// Layout
$containerWidth: 1400px;
$containerWideWidth: 1700px;
$gutterWidth: 24px;

// Colors
$lightGrey: rgb(245, 246, 254);
$grey: #bdbdbd;
$darkGrey: #303030;
$lightGreen: #edfdf6;
$mightyBlue: #014cb1;

// Gradients
$gradientInfo: linear-gradient( to bottom , #014CB1 , #3477D3 );
$gradientSuccess: linear-gradient( to bottom , #01B152 , #34D360 );
$gradientDanger: linear-gradient( to bottom , #B12101 , #D35034 );
$gradientWarning: linear-gradient( to bottom , #D8AA06 , #D3C334 );

// Media Breakpoints
$phoneWidthMax: 767px;
$tabletWidthMin: 768px;
$tabletWidthMax: 1199px;
$desktopWidthMin: 1200px;
$largeDesktopWidthMin: 1600px;

